<div class="container p-3">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center">
        <div class="display-2">
          <h1>About</h1>
        </div>
        <div class="d-flex justify-content-center">
          <%= image_tag 'CampersSquare Logo.jpg', :size=>'300x300'  %>
        </div>
        <div style="width: 100%; margin-top: 20px; margin-left: 20px; text-align: center ">
          <p>
            当サイトは、キャンプをする人（キャンパー）のためのコミュニティサイトです。</br>
            <br>
            キャンプに行った時や、新しいキャンプギアを買った時、<br>
            美しい景色を見た時、美味しいキャンプ飯を作った時には、<br>
            その喜びや思い出を他者に共有したくなることがあると思います。<br>
            キャンプ場を選ぶ際や、新しいキャンプギアを買う時には、<br>
            おすすめを知りたいと思うこともあるかと思います。<br>
            <br>
            当サイトでは、<br>
            キャンプに関連する投稿をすることで、情報や思い出を共有することができます。</br>
            また、他のユーザーの投稿を見たり、いいねやコメント等で反応をもうことで、</br>
            ユーザー同士で気軽に交流したり情報交換ができます。</br>
            <!--(投稿の閲覧はユーザーでなくても可能です。）<br>-->
            <br>
            キャンプを愛するキャンパーの皆様、ぜひご利用下さい。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>