<div class="container mt-5 ">
  <div class="row">
    <div class="col-md-10 backimage-text">

      <div style="position: relative; display:inline-block; margin-left: 125px">
        <%= image_tag 'camp1.jpg', :size =>'800x600' %>
        <div style="position: absolute; top: 40px; left:165px; max-width: 100%; max-height: 100%; padding: 30px; text-align: center; color: #ffffff;">
          <% if user_signed_in? %>
            <h4><strong>Welcome to 『Campers Square』 !!</strong></h4>
            <b>
              <br>
              当サイトは、キャンパーのためのコミュニティサイトです。<br>
              キャンパー同士の交流をお楽しみ下さい！
            </b>
          <% else %>
            <h4><strong>Welcome to 『Campers Square』 !!</strong></h4>
            <b>
              <br>
              当サイトは、キャンパーのためのコミュニティサイトです。<br>
              登録前にぜひ<%= link_to 'こちら', about_path, class:"text-success" %>もお読みください。
            </b>
          <% end %>
        </div>
      </div>

      <!--div class="mt-5">
        <h3><strong>新着投稿</strong></h3>
      </div-->

    </div>
  </div>
</div>