<div class='container px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>ユーザー情報</h2>
      <%= render 'admin/users/info', user: @user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2><%= @user.user_name %>の投稿一覧</h2>
      <%= render 'admin/post_camps/index',post_camps: @post_camps %>
      <div class="post-camp__paginate d-flex justify-content-center mt-4">
        <%= paginate @post_camps %>
      </div>
    </div>
  </div>
</div>